<form>
    <div class="main">
        <div class="reg-form">
            <h3>Registraton form</h3>
            <div>
                <div class="user"></div><input type="text" placeholder="User name">
            </div>
            <div>
                <div class="e-mail"></div><input type="email" placeholder="Email adress">
            </div>
            <div class="pas-conf">
                <div>
                    <div class="pass"></div><input type="password" placeholder="Password">
                </div>
                <div>
                    <div class="empty"></div><input type="password" placeholder="Confirm password">
                </div>
            </div>
        </div>
        <div class="personal">
            <h3>Personal details</h3>
            <div>
                <input type="text" placeholder="First name">
                <input type="text" placeholder="Last name">
            </div>
            <div>
                <select>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
                <input type="date">
            </div>
        </div>
    </div>
    <div class="check">
        <label><input type="checkbox"><span>I want to receive news and special offers</span></label>
        <label><input type="checkbox"><span>I agree with the Terms and Conditions</span></label>
    </div>
    <hr>
    <div><button>SUBMIT</button></div>
</form>